@charset "utf-8";
body {
	background: -webkit-linear-gradient(left, #FFFECD 7%, #fff 24%, #8D5927 42%, #673200 62%);
}
@font-face {
	font-family: titulo;
	src: url(fuente.otf);
}
#titulo {
	font-family: titulo;
	margin: auto;
	font-size: 45px;
	text-shadow: 0px 1px 1px white;
	text-indent: 28%;
	position: relative;
}
#new{
	
        display: table-row;
        color: black;
	font-family: "Arial Black", Gadget, sans-serif;
	
	display: table-cell;
	text-shadow: 0px 1px 1px black;
	font-size: 15px;
       
	
	
}

#car{
	
        display: list-item;
        color: purple;
	font-family: "Arial Black", Gadget, sans-serif;
        width: 360px;

            
	text-shadow: 0px 1px 1px black;
        left: 70%;
        
	font-size: 15px;
       border: 1px solid black;
       
}

